<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules rewriteBeforeCache="true">
                <rule name="Remove Server header">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
            <rules>
                <clear />
                <rule name="ID:SYS001 Redirect to HTTPS" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
                <rule name="ID:SYS010 PDF-Generator WKHTMLTOPDF" enabled="false" stopProcessing="true">
                    <match url="^(data/content|data/usrfiles).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{HTTP_USER_AGENT}" pattern="^.*wkhtmltopdf.*$" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="ID:SYS011 Videos direkt via Webserver streamen" enabled="false" stopProcessing="true">
                    <match url="(data/content/).*(.mp4|.m4v)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="ID:SYS020 V5: upload und download umleiten als data/" stopProcessing="true">
                    <match url="^(upload|download)/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="data/{R:2}" logRewrittenUrl="true" />
                </rule>
                <rule name="ID:0001 Folder or File exists" enabled="true" stopProcessing="true">
                    <match url="^(?!data/content|data/usrfiles)[a-z].*$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="ID:0002 Datafolder" enabled="true" stopProcessing="true">
                    <match url="^data/((?!content|usrfiles).)*$" />
                    <action type="None" />
                </rule>
                <rule name="ID:0003 Filerequests in webroot" stopProcessing="true">
                     <match url="^[a-z0-9_-]+\.(xml|png|jpg|gif)$" />
                     <action type="None" />
                </rule>
                <rule name="ID:0004 Assetsfolder" enabled="true" stopProcessing="true">
                    <match url="^assets/.*$" />
                    <action type="None" />
                </rule>
                <rule name="ID:0006 V5: chapter,courses nach data/chapters data/courses umschreiben" stopProcessing="true">
                    <match url="^(chapters|courses|content)/.*$" />
                    <action type="Rewrite" url="data/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ID:0007 V5: jscripts assets/legacy/js umschreiben" stopProcessing="true">
                    <match url="^(jscripts).*$" />
                    <action type="Rewrite" url="assets/legacy/js/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ID:0008 V5: themes/ nach assets/legacy/themes/ umschreiben" stopProcessing="true">
                    <match url="^themes/(.*)$" />
                    <action type="Rewrite" url="assets/legacy/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ID:0009 V5: images nach assets/legacy/images/ umschreiben" stopProcessing="true">
                    <match url="^images/(.*)$" />
                    <action type="Rewrite" url="assets/legacy/images/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="ID:0010 V5: elearnwin nach assets/css/elearnwin/ umschreiben" stopProcessing="true">
                    <match url="^elearnwin/(.*)$" />
                    <action type="Rewrite" url="assets/legacy/css/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ID:0011 V5: resources nach assets/legacy/resources/ umschreiben" stopProcessing="true">
                    <match url="^resources/.*$" />
                    <action type="Rewrite" url="assets/legacy/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ID:0012 Redirect to Default" enabled="true" stopProcessing="true">
                    <match url="(^.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
             </rules>
         </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Content-Security-Policy" value="frame-ancestors 'self' *.easylearn.ch;" />
                <add name="X-Robots-Tag" value="noindex, nofollow" />
                <add name="Referrer-Policy" value="strict-origin" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Feature-Policy" value="ambient-light-sensor 'none'; battery 'none'; camera 'none'; display-capture 'none'; document-domain 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; accelerometer 'none'; midi 'none'; payment 'none'; picture-in-picture 'none'; publickey-credentials 'none'; usb 'none'; wake-lock 'none'" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
        <httpRuntime executionTimeout="110" />
    </system.web>
</configuration>
